.166_194 { 
	overflow:hidden;
}.e166_194 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e166_203 { 
	width:1367.0001220703125px;
	height:759.0000610351562px;
	position:absolute;
	left:73px;
	top:-324px;
}.e166_204 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1365px;
	height:435px;
	position:absolute;
	left:2px;
	top:324px;
}.e166_205 { 
	transform: rotate(-17.65185434098939deg);
	width:1434.5430908203125px;
	height:0px;
	position:absolute;
	left:0px;
	top:759px;
}.166_205 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e166_206 { 
	transform: rotate(17.65185596813958deg);
	width:1434.543212890625px;
	height:0px;
	position:absolute;
	left:0px;
	top:324px;
}.166_206 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e166_207 { 
	width:208px;
	height:68px;
	position:absolute;
	left:580px;
	top:507px;
}.e166_208 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:208px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_209 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:28px;
	position:absolute;
	left:19px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e166_795 { 
	width:1367px;
	height:759px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_220 { 
	width:239px;
	height:311px;
	position:absolute;
	left:1151px;
	top:522px;
}.e166_221 { 
	background-color:rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.05000000074505806);
	width:239px;
	height:311px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e166_222 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:31.599267959594727px;
	position:absolute;
	left:26px;
	top:145.62890625px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_223 { 
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:31.599267959594727px;
	position:absolute;
	left:26px;
	top:236.95068359375px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_224 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:191px;
	height:42.97500228881836px;
	position:absolute;
	left:26px;
	top:199.9756622314453px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e166_225 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:191px;
	height:42.97500228881836px;
	position:absolute;
	left:26px;
	top:111.34002685546875px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e166_226 { 
	width:192px;
	height:59.473392486572266px;
	position:absolute;
	left:26px;
	top:24.552631378173828px;
}.e166_227 { 
	color:rgba(0, 0, 0, 1);
	width:192px;
	height:31.372806549072266px;
	position:absolute;
	left:0px;
	top:28.1005859375px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_228 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:145px;
	height:35.54917907714844px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e166_797 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:493px;
	height:19px;
	position:absolute;
	left:280px;
	top:522px;
	font-family:Montserrat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e166_781 { 
	width:75px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_782 { 
	background-image:linear-gradient(0deg, rgba(188.0000039935112, 156.00000590085983, 255, 1) 0%,rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 1) 100%) ;
	width:75px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_783 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:299px;
}.e166_784 { 
	width:24px;
	height:24px;
	position:absolute;
	left:27px;
	top:310px;
}.e166_785 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:0px;
	top:1px;
}.e166_786 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:393px;
}.e166_787 { 
	width:22px;
	height:22px;
	position:absolute;
	left:27px;
	top:408px;
}.e166_788 { 
	background-color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_789 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:484px;
}.e166_790 { 
	width:24px;
	height:24px;
	position:absolute;
	left:27px;
	top:497px;
}.e166_791 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_792 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:53px;
	height:16px;
	position:absolute;
	left:12px;
	top:356px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_793 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:40px;
	height:15px;
	position:absolute;
	left:19px;
	top:449px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e166_794 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:54px;
	height:17px;
	position:absolute;
	left:13px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_799 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:753px;
	height:286px;
	position:absolute;
	left:280px;
	top:596px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e166_802 { 
	transform: rotate(-179.99999499104388deg);
	width:115px;
	height:44px;
	position:absolute;
	left:216.00001525878906px;
	top:491px;
}.e166_804 { 
	transform: rotate(-179.99999499104388deg);
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:-71px;
	top:-0.000006207017122505931px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_805 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:84px;
	height:17px;
	position:absolute;
	left:-83.9999972898946px;
	top:-30.9999997141187px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}