
.e385_231 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
}
.e385_233 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:493px;
	height:46px;
	position:absolute;
	left:858px;
	top:188px;
	font-family:Montserrat;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e385_234 { 
	width:75px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e385_235 { 
	background-image:linear-gradient(0deg, rgba(188.0000039935112, 156.00000590085983, 255, 1) 0%,rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 1) 100%) ;
	width:75px;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}
.e385_236 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:299px;
}
.e385_237 { 
	width:24px;
	height:24px;
	position:absolute;
	left:27px;
	top:310px;
}
.e385_238 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:0px;
	top:1px;
}
.e385_239 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:393px;
}
.e385_240 { 
	width:22px;
	height:22px;
	position:absolute;
	left:27px;
	top:408px;
}
.e385_241 { 
	background-color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e385_242 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:484px;
}
.e385_243 { 
	width:24px;
	height:24px;
	position:absolute;
	left:27px;
	top:497px;
}
.e385_244 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e709_159 { 
	width:75px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e709_160 { 
	background-image:linear-gradient(0deg, rgba(188.0000039935112, 156.00000590085983, 255, 1) 0%,rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 1) 100%) ;
	width:75px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e709_161 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:299px;
}
.e709_162 { 
	width:24px;
	height:24px;
	position:absolute;
	left:27px;
	top:310px;
}
.e709_163 { 
	width:24px;
	height:23px;
	position:absolute;
	left:0px;
	top:1px;
}
.e709_164 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:393px;
}
.e709_165 { 
	width:22px;
	height:22px;
	position:absolute;
	left:27px;
	top:408px;
}
.e709_166 { 
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e709_167 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:484px;
}
.e709_168 { 
	width:24px;
	height:24px;
	position:absolute;
	left:27px;
	top:497px;
}
.e709_169 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e709_170 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:53px;
	height:16px;
	position:absolute;
	left:12px;
	top:356px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e709_171 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:40px;
	height:15px;
	position:absolute;
	left:19px;
	top:449px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e709_172 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:54px;
	height:17px;
	position:absolute;
	left:13px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e385_246 { 
	width:589px;
	height:393px;
	position:absolute;
	left:232px;
	top:96px;
	background-image:url(images/3552370_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e385_247 { 
	width:151px;
	height:39px;
	position:absolute;
	left:858px;
	top:399px;
}
.e385_248 { 
	background-color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:151px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:22px;
}
.e385_249 { 
	transform: rotate(6.3611093629270335e-15deg);
	width:18px;
	height:18px;
	position:absolute;
	left:18px;
	top:10.272078514099121px;
}
.e385_250 { 
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e385_251 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:19px;
	position:absolute;
	left:40px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e385_252 { 
	width:108px;
	height:39px;
	position:absolute;
	left:1033px;
	top:399px;
}
.e385_253 { 
	border:1px solid rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
}
.e385_253 { 
	width:148px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:22px;
}
.e385_254 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:41px;
	height:20px;
	position:absolute;
	left:42px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e385_255 { 
	background-color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:11.26956558227539px;
	height:13px;
	position:absolute;
	left:20.660869598388672px;
	top:13px;
}
.e385_256 { 
	width:788px;
	height:114px;
	position:absolute;
	left:277px;
	top:533px;
}
.e385_257 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:493px;
	height:43px;
	position:absolute;
	left:35px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e385_258 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:753px;
	height:71px;
	position:absolute;
	left:35px;
	top:43px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e385_260 { 
	background-color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:8px;
	height:140px;
	position:absolute;
	left:0px;
	top:4px;
}
.e385_271 { 
	width:39px;
	height:39px;
	position:absolute;
	left:711px;
	top:817px;
}
.e385_261 { 
	border-radius:500px;
	width:39px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}
.e385_261 { 
	border:2px solid rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
}
.e385_270 { 
	background-color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:17px;
	height:10px;
	position:absolute;
	left:11px;
	top:15px;
}
.e385_278 { 
	width:39px;
	height:39px;
	position:absolute;
	left:649px;
	top:817px;
}
.e385_279 { 
	border-radius:500px;
	width:39px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}
.e385_279 { 
	border:2px solid rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
}
.e385_286 { 
	background-color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:9px;
	height:19px;
	position:absolute;
	left:15px;
	top:10px;
}
.e385_272 { 
	width:39px;
	height:39px;
	position:absolute;
	left:773px;
	top:817px;
}
.e385_273 { 
	border-radius:500px;
	background-color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:39px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}
.e385_281 { 
	background-color:rgba(255, 255, 255, 1);
	width:14px;
	height:15px;
	position:absolute;
	left:785px;
	top:829px;
}
.e385_297 { 
	border:1px solid rgba(165.74999392032623, 165.74999392032623, 165.74999392032623, 1);
}
.e385_297 { 
	width:475px;
	height:0px;
	position:absolute;
	left:493px;
	top:793px;
}

@media (max-width: 500px) {
	.header {
		background-image:linear-gradient(0deg, rgba(188.0000039935112, 156.00000590085983, 255, 1) 0%,rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 1) 100%) ;
	    width:360px;
	    height:93px;
	    position:absolute;
	    left:0px;
	    top:0px;
	}
}
