.166_75 { 
	overflow:hidden;
}.e166_75 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e166_577 { 
	background-image:linear-gradient(0deg, rgba(187.60873138904572, 155.8951923251152, 255, 0) 0%,rgba(187.60873138904572, 155.8951923251152, 255, 1) 100%) ;
	width:1369px;
	height:1024px;
	position:absolute;
	left:71px;
	top:0px;
}.e166_670 { 
	width:276px;
	height:233px;
	position:absolute;
	left:939px;
	top:551px;
}.e166_671 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_672 { 
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.166_673 { 
	overflow:hidden;
}.e166_673 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_674 { 
	width:276px;
	height:158px;
	position:absolute;
	left:0px;
	top:-61px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_675 { 
	color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:117px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_676 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:143px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_677 { 
	width:44px;
	height:44px;
	position:absolute;
	left:212px;
	top:168px;
}.e166_678 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1) 0%,rgba(102.11475536227226, 210.13174921274185, 233.84279608726501, 1) 100%) ;
	width:39.875389099121094px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:22px;
}.e166_679 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_660 { 
	width:276px;
	height:233px;
	position:absolute;
	left:582px;
	top:551px;
}.e166_661 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_662 { 
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.166_663 { 
	overflow:hidden;
}.e166_663 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_664 { 
	width:276px;
	height:158px;
	position:absolute;
	left:0px;
	top:-61px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_665 { 
	color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:117px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_666 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:143px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_667 { 
	width:44px;
	height:44px;
	position:absolute;
	left:212px;
	top:168px;
}.e166_668 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1) 0%,rgba(102.11475536227226, 210.13174921274185, 233.84279608726501, 1) 100%) ;
	width:39.875389099121094px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:22px;
}.e166_669 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_76 { 
	width:75px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_77 { 
	background-image:linear-gradient(0deg, rgba(188.0000039935112, 156.00000590085983, 255, 1) 0%,rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 1) 100%) ;
	width:75px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_78 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:299px;
}.e166_79 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:393px;
}.e166_727 { 
	width:22px;
	height:22px;
	position:absolute;
	left:27px;
	top:408px;
}.e166_728 { 
	background-color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_80 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:484px;
}.e166_81 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:53px;
	height:16px;
	position:absolute;
	left:12px;
	top:356px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_82 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:40px;
	height:15px;
	position:absolute;
	left:19px;
	top:449px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e166_83 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:54px;
	height:17px;
	position:absolute;
	left:13px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_753 { 
	width:75px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_754 { 
	background-image:linear-gradient(0deg, rgba(188.0000039935112, 156.00000590085983, 255, 1) 0%,rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 1) 100%) ;
	width:75px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_755 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:299px;
}.e166_765 { 
	width:24px;
	height:24px;
	position:absolute;
	left:27px;
	top:310px;
}.e166_766 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:23px;
	position:absolute;
	left:0px;
	top:1px;
}.e166_756 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:393px;
}.e166_757 { 
	width:22px;
	height:22px;
	position:absolute;
	left:27px;
	top:408px;
}.e166_758 { 
	background-color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_759 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:14px;
	top:484px;
}.e166_763 { 
	width:24px;
	height:24px;
	position:absolute;
	left:27px;
	top:497px;
}.e166_764 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_760 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:53px;
	height:16px;
	position:absolute;
	left:12px;
	top:356px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_761 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:40px;
	height:15px;
	position:absolute;
	left:19px;
	top:449px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e166_762 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:54px;
	height:17px;
	position:absolute;
	left:13px;
	top:540px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_84 { 
	width:151px;
	height:39px;
	position:absolute;
	left:225px;
	top:90px;
}.e166_560 { 
	background-color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:151px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:22px;
}.e166_725 { 
	width:18px;
	height:18px;
	position:absolute;
	left:18px;
	top:11px;
}.e166_726 { 
	background-color:rgba(255, 255, 255, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_86 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:19px;
	position:absolute;
	left:44px;
	top:10px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}.e166_87 { 
	width:135px;
	height:39px;
	position:absolute;
	left:391px;
	top:90px;
}.166_561 { 
	border:1px solid rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
}.e166_561 { 
	width:135px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:22px;
}.e166_89 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:61px;
	height:19.5px;
	position:absolute;
	left:37px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_565 { 
	width:16px;
	height:16px;
	position:absolute;
	left:432px;
	top:241px;
}.e166_566 { 
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:0px;
	top:4.440892098500626e-16px;
}.e166_594 { 
	width:276px;
	height:233px;
	position:absolute;
	left:579px;
	top:239px;
}.e166_575 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_583 { 
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.166_582 { 
	overflow:hidden;
}.e166_582 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_580 { 
	width:276px;
	height:158px;
	position:absolute;
	left:0px;
	top:-61px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_585 { 
	color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:117px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_588 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:143px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_593 { 
	width:44px;
	height:44px;
	position:absolute;
	left:212px;
	top:168px;
}.e166_578 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1) 0%,rgba(102.11475536227226, 210.13174921274185, 233.84279608726501, 1) 100%) ;
	width:39.875389099121094px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:22px;
}.e166_592 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_680 { 
	width:276px;
	height:233px;
	position:absolute;
	left:225px;
	top:239px;
}.e166_681 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_682 { 
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.166_683 { 
	overflow:hidden;
}.e166_683 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_684 { 
	width:276px;
	height:158px;
	position:absolute;
	left:0px;
	top:-61px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_685 { 
	color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:117px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_686 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:143px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_687 { 
	width:44px;
	height:44px;
	position:absolute;
	left:212px;
	top:168px;
}.e166_688 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1) 0%,rgba(102.11475536227226, 210.13174921274185, 233.84279608726501, 1) 100%) ;
	width:39.875389099121094px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:22px;
}.e166_689 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_640 { 
	width:276px;
	height:233px;
	position:absolute;
	left:225px;
	top:551px;
}.e166_641 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_642 { 
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.166_643 { 
	overflow:hidden;
}.e166_643 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_644 { 
	width:276px;
	height:158px;
	position:absolute;
	left:0px;
	top:-61px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_645 { 
	color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:117px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_646 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:143px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_647 { 
	width:44px;
	height:44px;
	position:absolute;
	left:212px;
	top:168px;
}.e166_648 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1) 0%,rgba(102.11475536227226, 210.13174921274185, 233.84279608726501, 1) 100%) ;
	width:39.875389099121094px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:22px;
}.e166_649 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_690 { 
	width:276px;
	height:233px;
	position:absolute;
	left:939px;
	top:864px;
}.e166_691 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_692 { 
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.166_693 { 
	overflow:hidden;
}.e166_693 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_694 { 
	width:276px;
	height:158px;
	position:absolute;
	left:0px;
	top:-61px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_695 { 
	color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:117px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_696 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:143px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_697 { 
	width:44px;
	height:44px;
	position:absolute;
	left:212px;
	top:168px;
}.e166_698 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1) 0%,rgba(102.11475536227226, 210.13174921274185, 233.84279608726501, 1) 100%) ;
	width:39.875389099121094px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:22px;
}.e166_699 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_700 { 
	width:276px;
	height:233px;
	position:absolute;
	left:582px;
	top:864px;
}.e166_701 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_702 { 
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.166_703 { 
	overflow:hidden;
}.e166_703 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_704 { 
	width:276px;
	height:158px;
	position:absolute;
	left:0px;
	top:-61px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_705 { 
	color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:117px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_706 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:143px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_707 { 
	width:44px;
	height:44px;
	position:absolute;
	left:212px;
	top:168px;
}.e166_708 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1) 0%,rgba(102.11475536227226, 210.13174921274185, 233.84279608726501, 1) 100%) ;
	width:39.875389099121094px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:22px;
}.e166_709 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_710 { 
	width:276px;
	height:233px;
	position:absolute;
	left:225px;
	top:864px;
}.e166_711 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_712 { 
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.166_713 { 
	overflow:hidden;
}.e166_713 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_714 { 
	width:276px;
	height:158px;
	position:absolute;
	left:0px;
	top:-61px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_715 { 
	color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:117px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_716 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:143px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_717 { 
	width:44px;
	height:44px;
	position:absolute;
	left:212px;
	top:168px;
}.e166_718 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1) 0%,rgba(102.11475536227226, 210.13174921274185, 233.84279608726501, 1) 100%) ;
	width:39.875389099121094px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:22px;
}.e166_719 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_595 { 
	width:276px;
	height:249px;
	position:absolute;
	left:939px;
	top:224px;
}.e166_596 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:16px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_597 { 
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:16px;
}.166_598 { 
	overflow:hidden;
}.e166_598 { 
	box-shadow:0px 2px 7px rgba(139.0000069141388, 164.00000542402267, 249.00000035762787, 0.30000001192092896);
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e166_599 { 
	width:276px;
	height:158px;
	position:absolute;
	left:0px;
	top:-61px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e166_600 { 
	color:rgba(90.21064013242722, 45.377605855464935, 217.8125050663948, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:117px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e166_601 { 
	color:rgba(31.000000052154064, 32.00000189244747, 65.0000037252903, 1);
	width:197px;
	height:19px;
	position:absolute;
	left:26px;
	top:143px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_602 { 
	width:44px;
	height:44px;
	position:absolute;
	left:212px;
	top:184px;
}.e166_603 { 
	background-image:linear-gradient(0deg, rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1) 0%,rgba(102.11475536227226, 210.13174921274185, 233.84279608726501, 1) 100%) ;
	width:39.875389099121094px;
	height:40px;
	position:absolute;
	left:2px;
	top:2px;
	border-radius:22px;
}.e166_604 { 
	color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Material Icons;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e166_605 { 
	width:276px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
}.e166_606 { 
	background-color:rgba(255, 165.00000536441803, 0, 1);
	width:276px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e166_607 { 
	color:rgba(255, 255, 255, 1);
	width:54.99247741699219px;
	height:12px;
	position:absolute;
	left:178px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}.e166_608 { 
	width:16px;
	height:16px;
	position:absolute;
	left:236px;
	top:8px;
}.e166_609 { 
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:0px;
	top:4.440892098500626e-16px;
}